:root {
  --purple-accent: #6d0b6d;
  --gray-text: #3c3c3c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* pointer-events: none; */
}

body {
  background-color: white;
}

p {
  font-size: 2vw;
}

.menu-open {
  position: fixed;
  top: 100%;
  background-color: black;
  height: 100dvh;
  width: 100vw;
  left: 0;
}

.bars {
  position: fixed;
  display: flex;
  gap: 2px;
  right: 20px;
  top: 10px;
  flex-direction: column;
  mix-blend-mode: difference;
  pointer-events: all;
  cursor: pointer;
}

.bar {
  top: 0;
  background-color: white;
  height: 3px;
  width: 30px;
}

.bar:nth-child(1) {
  transform-origin: middle right;
}

.bar:nth-child(3) {
  transform-origin: middle right;
}

#name {
  font-size: min(20vw, 20em);
  text-align: center;
  line-height: 80%;
}

#slogan {
  font-size: 4vw;
  text-align: center;
}

b {
  color: var(--purple-accent);
}

.land-wrapper {
  /* background-color: red; */
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

#work {
  pointer-events: all;
}

.work-with {
  background-color: black;
  width: fit-content;
  padding: 5px 10px;
  margin-left: 10px;
  color: white;
}

.info {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.scroll {
  margin-right: 20px;
}

.site-info {
  display: flex;
  align-items: center;
}

.site-info div {
  margin-left: 20px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.box-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-info h3 {
  font-size: 10vw;
}

.line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--purple-accent);
  bottom: 0;
}

#creating,
#offers {
  font-size: 10vw;
}

#offers {
  text-align: right;
}

.expandable {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 20px;
}

.space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}

.contact-wrapper {
  background-color: black;
  color: white;
}
