:root {
  --purple-accent: #6d0b6d;
  --gray-text: #3c3c3c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  pointer-events: none;
}

body {
  background-color: white;
}

.menu-open {
  position: fixed;
  top: 100%;
  background-color: black;
  height: 100dvh;
  width: 100vw;
  left: 0;
}

.bars {
  position: fixed;
  display: flex;
  gap: 2px;
  right: 10px;
  top: 10px;
  flex-direction: column;
  mix-blend-mode: difference;
  pointer-events: all;
  cursor: pointer;
}

.bar {
  top: 0;
  background-color: white;
  height: 3px;
  width: 30px;
}

.bar:nth-child(1) {
  transform-origin: middle right;
}

.bar:nth-child(3) {
  transform-origin: middle right;
}

#name {
  font-size: 10vw;
  text-align: center;
  line-height: 80%;
  margin-top: 40px;
}

#slogan {
  font-size: 3vw;
  text-align: center;
}

b {
  color: var(--purple-accent);
}
